.wrapper {
  max-width: 130rem;
  margin: 0 auto;
  background-color: var(--color-primary-light-9);
  padding: 0 3.2rem;
}

@media (max-width: 84em) {
  .wrapper {
    max-width: 115rem;
  }
}
@media (max-width: 75em) {
  .wrapper {
    max-width: 100rem;
  }
}
@media (max-width: 62.5em) {
  .wrapper {
    max-width: 80rem;
  }
}
@media (max-width: 52.5em) {
  .wrapper {
    max-width: 60rem;
  }
}
@media (max-width: 37.5em) {
  .wrapper {
    max-width: 50rem;
  }
}
@media (max-width: 31em) {
  .wrapper {
    max-width: 40rem;
  }
}
